<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Cat</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header>
        <img class="homecat" src="/assets/img/cat.png" alt="cat" height="70px">
        <p class="texto">
            <a href="/login" class="h4">Login</a>
            <a href="/cadastrar" class="h4-ca">Cadastrar</a>
        </p>
    </header>

    <div class="gatos1">
        <img src="/assets/img/cat01.jpg" alt="" height="700rem" width="500px">
        <img src="/assets/img/cat02.jpg" alt="" height="700rem" width="500px">
        <img src="/assets/img/cat05.jpg" alt="" height="700rem" width="500px">
    </div>


    <div class="gatos2">
        <img src="/assets/img/cat11.jpg" alt="" height="700px" width="750px">
        <img src="/assets/img/cat08.jpg" alt="" height="700px" width="755px">
    </div>

    <div class="gatos3">
        <img src="/assets/img/cat04.jpg" alt="" height="700px" width="1510vh">
    </div>


    <div class="gatos4">
        <img src="/assets/img/cat12.jpg" alt="" height="700rem" width="500px">
        <img src="/assets/img/cat09.jpg" alt="" height="700rem" width="500px">
        <img src="/assets/img/cat06.jpg" alt="" height="700rem" width="500px">
    </div>

    <div class="gatos5">
        <img src="/assets/img/cat03.jpg" alt="" height="700px" width="750px">
        <img src="/assets/img/cat13.jpg" alt="" height="700px" width="755px">
    </div>

    <div class="gatos6">
        <img src="/assets/img/cat07.jpg" alt="" height="700px" width="1510vh">
    </div>



    <footer>
        <small>
            Todos os direitos resevartos ©
        </small>
    </footer>
</body>

</html>